body {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0 8px;
    background-color: rgba(255, 255, 154, .2);
}

footer {
    margin-top: auto;
    padding-top: 1em;
}

#fish {
    font-family: monospace;
    font-weight: bolder;
    position: absolute;
    left: 20%;
}

#pet {
    height: 18em;
}

.red {
    color: rgb(210, 35, 42);
}

.orange {
    color: rgb(245, 132, 31);
}

.yellow {
    color: rgb(253, 186, 18);
}

.purple {
    color: rgb(138, 41, 212);
}

.blue {
    color: rgb(41, 41, 212);
}

.cyan {
    color: rgb(41, 132, 212);
}

.redpurple {
    color: #ae267f;
}

.orangeblue {
    color: #8f567a;
}

.yellowcyan {
    color: #939f73;
}

.little {
    font-size: .7em;
}

.middle {
    font-size: .8em;
}

img {
    max-width: 100%;
}

#light {
    width: 20vw;
    max-width: 10em;
    position: absolute;
    right: 3vw;
}

#stats,
#actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5px;
    border-radius: 5px;
}

#stats>span {
    padding: 5px;
}

#stats {
    background-color: rgba(221, 160, 221, .4);
    border: 3px solid rgba(221, 160, 221, 1);
    text-shadow: 0 0 5px white;
}

#actions {
    background-color: rgba(208, 124, 208, .4);
    border: 3px solid rgba(208, 124, 208, 1);
    padding: 5px;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    max-width: 1.5em;
    margin: 3px;
    flex-shrink: 0;
}

.hovertext {
    display: none;
    border: 4px dashed rgba(221, 160, 221, .5);
    border-radius: 10px;
    padding: 2px;
    background: rgba(221, 160, 221, .3)
}

.icon:hover+.hovertext {
    display: revert;
}

h1 {
    flex-shrink: 0;
}